{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template calendar/header

    Calendar header.

    The purpose of this template is to render the month header.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
    }
}}
<div class="header d-flex flex-column p-1">
    <div><h4 class="heading-calendar">Visualizar mês em detalhe para:</h4></div>

    <div class="filter-selector mb-2">
        {{#filter_selector}}
            {{{filter_selector}}}
        {{/filter_selector}}
    </div>
        
         
    <div class="d-flex flex-column ">
    <div><h4  class="heading-calendar" >Ver data:</h4></div>
    <div class="d-flex flex-wrap mb-2">
    <div class="mr-auto">
    {{> core_calendar/view_selector}}
    </div>
    
    {{> core_calendar/add_event_button}}

    </div>
    
    </div>
    
</div>