$fixed-header-y: $navbar-height;

// Show expand collapse with font-awesome.
.block_settings .block_tree [aria-expanded="true"],
.block_settings .block_tree [aria-expanded="true"].emptybranch,
.block_settings .block_tree [aria-expanded="false"],
.block_navigation .block_tree [aria-expanded="true"],
.block_navigation .block_tree [aria-expanded="true"].emptybranch,
.block_navigation .block_tree [aria-expanded="false"] {
    background-image: none;
}
.block_settings .block_tree [aria-expanded="true"]:before,
.block_navigation .block_tree [aria-expanded="true"]:before {
    content: $fa-var-angle-down;
    margin-right: 0;
    @include fa-icon();
    font-size: 16px;
    width: 16px;
}

.block_settings .block_tree [aria-expanded="false"]:before,
.block_navigation .block_tree [aria-expanded="false"]:before {
    content: $fa-var-angle-right;
    margin-right: 0;
    @include fa-icon();
    font-size: 16px;
    width: 16px;
}
.dir-rtl {
    .block_settings .block_tree [aria-expanded="false"]:before,
    .block_navigation .block_tree [aria-expanded="false"]:before {
        content: $fa-var-angle-left;
    }
}

.block_navigation .block_tree p.hasicon,
.block_settings .block_tree p.hasicon {
    text-indent: -3px;

    .icon {
        margin-right: 2px;
    }
}

.block.invisibleblock .card-title {
    color: $text-muted;
}

@include media-breakpoint-down(sm) {
    .block.card {
        border-left: 0;
        border-right: 0;
    }
}

#block-region-content > .block.card {
    border: none;
    border-bottom: 1px solid #6c757d!important;

}

#block-region-header > .block.card {
    border: none;
}



#sidepreopen-control,
[data-region="blocks-column"] {
    -webkit-transition: right .5s ease, left .5s ease;
    -moz-transition: right .5s ease, left .5s ease;
    -o-transition: right .5s ease, left .5s ease;
    transition: right .5s ease, left .5s ease;

    .dropdown-menu {
        min-width: 245px;

        .dropdown-item {
            white-space: initial;
        }
    }

    .card-block .content {
        h3 {
            font-size: 1.143rem;
            font-weight: 600;
            text-transform: uppercase;
            border-top: 1px dashed $headings-color;
            padding-top: 4px;
            margin-top: 10px;
        }
    }
}

#sidepreopen-control {
    background-color: $brand-primary;
    position: fixed;
    right: -15px;
    top: 50%;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 1rem;
    padding: 8px 4px 0 0;
    cursor: pointer;



    &:hover {
        box-shadow: 0 0 6px $brand-primary;
    }
}

[data-region="blocks-column"] {
    width: 320px;
    background-color: #fff;
    position: fixed;
    top: $navbar-height;
    right: -320px;
    height: calc(100% - #{$navbar-height});
    overflow-y: scroll;
    z-index: 999;
}

@include media-breakpoint-down(sm){ 
    [data-region="blocks-column"] {
        top: $sm-navbar-height;
        height: calc(100% - #{$sm-navbar-height});
    }

}



body.drawer-open-right {
    #sidepreopen-control {
        right: 305px;

      
    }

    [data-region="blocks-column"] {
        right: 0;

        aside.block {
            border: none;
            border-radius: 0;
            -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
            box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
        }
    }
}





// Nav-drawer control



#navdraweropen-control,
[data-region="drawer"] {
    -webkit-transition: right .5s ease, left .5s ease;
    -moz-transition: right .5s ease, left .5s ease;
    -o-transition: right .5s ease, left .5s ease;
    transition: right .5s ease, left .5s ease;

    .dropdown-menu {
        min-width: 245px;

        .dropdown-item {
            white-space: initial;
        }
    }

    .card-block .content {
        h3 {
            font-size: 1.143rem;
            font-weight: 600;
            text-transform: uppercase;
            border-top: 1px dashed $headings-color;
            padding-top: 4px;
            margin-top: 10px;
        }
    }
}

#navdraweropen-control {
    background-color: $brand-primary;
    position: fixed;
    left: -15px;
    top: 50%;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 1rem;
    //padding: 8px 0 0 4px;
    padding: 10px 0px 0px 14px;
    cursor: pointer;
    z-index: 1;



    &:hover {
        box-shadow: 0 0 6px $brand-primary;
    }
}



body.drawer-open-left {
    #navdraweropen-control {
        left: 305px;
    }
   



}

@include media-breakpoint-down(md){
    body.drawer-open-left.has-drawer {
        #sidepreopen-control {
            display: none;
        }
    }

    body.drawer-open-right {
        #navdraweropen-control {
            display: none;
        }
    }

}



//Mudanças em blocks

.dashboard-card-deck {
    .dashboard-card {
        border-radius: 15px;
        box-shadow: 2px 2px 2px 3px rgb(0 0 0 / 36%);
        
        .dashboard-card-img {
            height: 3rem;
            border-radius: 15px 15px 0px 0px;
        }
      
        .dashboard-card-footer {
            background-color:#E9E9E9;
        }

        .card-body {
            background-color:#E9E9E9;
            border-radius: 0px 0px 15px 15px;
        }
        
    }

    .dashboard-card:hover .dashboard-card-img {
        opacity: 0.8;
    }
    .dashboard-card:hover .card-body {
        opacity: 0.8;
    }
    .dashboard-card:hover {
        background-color: rgba($color: #888888, $alpha: 1.0)
    }
    

    @include media-breakpoint-up(sm) {
        &.fixed-width-cards {
            .dashboard-card {
                width: 300px;
                max-width: 100%;
            }
        }
    }
    .card-deck .card {
    margin-right: 1.25rem;
    margin-left:  .25rem;
    }
}