// Accessible focus styling for links, add .aalink to links with custom css classes to get
// accessible focus styles.
.aalink,
#page-footer a:not([class]),
.arrow_link,
a:not([class]),
.activityinstance > a {
    &.focus,
    &:focus {
        outline: $btn-focus-width solid transparent;
        color: $gray-900;
        background-color: rgba($color: #868e96, $alpha: 0.5);
        //background-color: lighten($primary, 50%);
        //box-shadow: 0 -#{$btn-focus-width} lighten($primary, 50%), 0 $btn-focus-width $gray-800;
        box-shadow: 0 -#{$btn-focus-width} rgba($color: #868e96, $alpha: 0.5), 0 $btn-focus-width $gray-800;
    }
    &:focus:hover {
        text-decoration: none;
    }
}

#page-footer{
    background-color: $footer-bg;
    color: $footer-text-color;
    a {
        color: $footer-link-color;
    }
}



/** Page header */
#site-header {
    .logo {
        margin: $spacer 0;
        img {
            max-height: 75px;
        }
    }
}

#pageheader {
    font-weight: 700;
}

#coursesearch {
    .form-control {
        border-radius: 10px 0px 0px 10px ;
    }
    .input-group-append > .btn {
        border-radius: 0px 10px 10px 0px ;
    }
}
.simplesearchform {
    margin-top: 1rem;

    .form-control {
        border-radius: 5px 0px 0px 5px ;
    }
    .input-group-append > .btn {
        border-radius: 0px 5px 5px 0px ;
    }

    .input-group-append > .btn {
        outline: rgba(0, 0, 0, 0);
    }

  

    
}


#page-header {
    .card {
        border:0;
        border-bottom: 1px solid rgba($color: #cdced0, $alpha: 1.0);
    }

}

#region-main {
    border: 0;
    border-bottom:1px solid rgba($color: #cdced0, $alpha: 1.0);
}




.content-container {
    max-width: 100%;
}

@media (max-width: 575.98px) {
    .content-container {
        width: 540px;
        margin-left: auto!important;
        margin-right: auto!important;
    }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
    .content-container {
        width: 720px;
        margin-left: auto!important;
        margin-right: auto!important;
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
    .content-container {
        width: 960px;
        margin-left: auto!important;
        margin-right: auto!important;
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .content-container {
        width: 1140px;
        margin-left: auto!important;
        margin-right: auto!important;
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1399.98px){
    .content-container {
        width: 1320px;
        margin-left: auto!important;
        margin-right: auto!important;
    }
 }

 // Extra large devices (large desktops, 1200px and up)
@media (min-width: 1400px) {
    .content-container {
        width: 1360px;
        margin-left: auto!important;
        margin-right: auto!important;
    }
 }

 a {
color: black;
    
 }

 a:hover {
     color: black;
    text-decoration: underline;
}

//margin para toggle
#page-wrapper {
    margin-left: 10px;
    margin-right: 10px;
}


.path-mod-assign .generalbox {
    border: 5px ;
	border-style: solid;
	border-color: #CCCCCC;
	padding: 1em;
	background: #fdfdfd;
	padding: 20px;
}





.blockpanelbtn .btn:focus, .blockpanelbtn .btn-primary:focus {
    outline: 0;
    box-shadow: none !important;
}

span.login {
    color: white;

    a{
        color: white;
    }
}