

#page-wrapper-header {
    max-height: 190px;

}

#topnavbar {
    background-color: $topnavbar-bg;
}

#site-header { 
    @media only screen and (min-width: 576px){
        .navbar{
            height: $sm-navbar-height;
        }
    }
    
}


#page {
    //margin-top: calc($fixed-header-y - 30px);
    margin-top: $navbar-height;
}

@media only screen and (max-width: 576px){
    
#page {
    margin-top: 60px;
    }
}

#navwrapper {
    padding: 0px;
}

//header navbar 
#mainNav > .active  {   
    border-bottom: 5px solid #690000;
    font-weight: bold;
    color: #690000;
}


#mainNav > a {
    font-size: $font-size-base;
    color: black;
    font-weight: 400;
    padding-left: 12px;
    padding-right: 12px;
}


#rightNav > a {
    font-size: $font-size-base;
    color: black;
    font-weight: 400;
    padding-left: 12px;
    padding-right: 12px;
}
#mainNav > a:hover {
    background: #e9e9e9;
}


#ufma-logo {
    margin:  0;
        img {
            max-height: $ufma-logo-height;
        }

}

#resettour a {
    height: 41px;
    height: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #690000;
    border: 5px solid #ffff;
    box-shadow: 10px 4px 4px rgb(0 0 0 / 25%;border-radius: 10px;,0,0,.25);
    border-radius: 10px;
    position: border-box;
    width: 88px;
    padding-right: 0px;
    height: 33px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 11px;
    color: #FFFFFF;
}




// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
    #mainNav > a {
    
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
    #mainNav > a {

        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1399.98px){
    #mainNav > a {

        padding-left: 1rem;
        padding-right: 1rem;
    }
 }

 // Extra large devices (large desktops, 1200px and up)
@media (min-width: 1400px) {
    #mainNav > a {
   
        padding-left: 1rem;
        padding-right: 1rem;
    }
 }

 #sitetitle > h1 {
     font-weight: 700;
 }


 #site-header .clearfix .navbar .nav  i {
    color: white!important;
}

#site-header .clearfix .navbar .nav .dropdown .usertext {
    color: white!important;
}

#site-header .clearfix .navbar .nav  i {
    color: white!important;
}

#site-header a.dropdown-toggle::after {
    color: white!important;
}

    

 @include media-breakpoint-down(sm) {
     .fixed-sm-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;

     } 
    
 }


 .navbar .popover-region {
    float: left;
    margin-right: 10px;
}