.forumpost {
    background-color: $forumbody-bg!important;

    .header {
        background-color: $forumheading-bg!important;

    }
}

.path-mod .generalbox {
    background-color: $introbox-bg;
}