$fixed-header-y: $navbar-height;
$drawer-padding-x: 20px !default;
$drawer-padding-y: 20px !default;
$drawer-offscreen-gutter: 20px !default;

#nav-drawer {
    .custom-menu{
        display: inline-block;
        z-index: 1050;
        position: absolute;
        top: 400px;
        right: 0;
        margin-right: 20px;
        @include transition(.3s);
        background-color: black;
  }
}

#page-wrapper-header >  #page-header.drawer-ease {
    -webkit-transition: margin-left 0.5s ease, margin-right 0.5s ease;
-moz-transition: margin-left 0.5s ease, margin-right 0.5s ease;
transition: margin-left 0.5s ease, margin-right 0.5s ease;
}

body.drawer-open-left.has-drawer {
    @include media-breakpoint-up(md) {
       margin-left: $drawer-width;
       //margin-left: 0;
       #page-wrapper-header > #page-header {
        margin-left: $drawer-width;
       }
    }
}

body.drawer-open-left.no-has-drawer {
    @include media-breakpoint-up(md) {
       //margin-left: $drawer-width;
       margin-left: 0;
    }
}

.no-has-drawer #header-toggle {
    display: none!important;
}
 
//modicons
#nav-drawer .list-group-item .togglecompletion {
    display: inline;
    div {
        display: inline;
    }
}

//dropdown toggle
#nav-drawer .list-group-item .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#nav-drawer .list-group-item-action.section.active {
    z-index: 2;
    color: $navdrawer-color;
    background-color:$navdrawer-activel1;
    border-color: $navdrawer-activel1;
}

#nav-drawer .list-group-item-action {
    z-index: 2;
    color:$navdrawer-color;
    background-color: $navdrawer-bg;
    border-color: $navdrawer-bg;
    width: 100%;
    cursor: pointer;
}



#nav-drawer  .list-group-item-action:hover{
    background-color: $navdrawer-hover-bg;
    color: $navdrawer-hover;
    a {
    color: $navdrawer-hover;
    }

}

#nav-drawer .list-group-item-action.active {
    z-index: 2;
    color: $navdrawer-color;
    background-color: $navdrawer-activel2;
    border-color: $navdrawer-activel2;
    a {
        color:black;
    }
}

.dimmed.active {
    background-color: #d3d5d4;
    border-color: #d3d5d4;
}


.list-group-item.dimmed  {
    color: $navdrawerdimmed;
    background-color: $navdrawerdimmed-bg;
}

#nav-drawer {
    background-color: $navdrawer-bg;
}

#sidepre-blocks {
    width: $drawer-width;
}

body.drawer-open-right.path-grade-report-grader {
    @include media-breakpoint-up(md) {
       //margin-left: $drawer-width;
       margin-right: 0;
    }
}

@include media-breakpoint-down(sm){ 
    [data-region="drawer"] {
        top: $sm-navbar-height;
        height: calc(100% - #{$sm-navbar-height});
    }
}

[data-region="drawer"] {
    padding: 0px;
}

 //fix outline in navdrawer

#nav-drawer:focus, [data-region="blocks-column"]:focus, [data-region="view-overview"]:focus #block-region-side-pre:focus{
    outline: none;
    aside:focus{
        outline: none;
    }
}

#block-region-side-pre, [data-region="view-overview"]>div {
    outline: none;
}



//breno inserção
/*
#nav-drawer {
    background-color: #E9E9E9;
}
#nav-drawer {
    right: 0;
    left: 0;
}

[data-region="drawer"] {
    padding: 0;
}

[data-region="drawer"], [data-region="blocks-column"] {
    padding: 20px 20px;
}
[data-region="drawer"] {
    position: fixed;
    width: 315px;
    top: 140px;
    height: calc(100% - 140px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 999;
    background-color: #f2f2f2;
    -webkit-transition: right 0.5s ease,left 0.5s ease;
    -moz-transition: right 0.5s ease,left 0.5s ease;
    transition: right 0.5s ease,left 0.5s ease;
}
*/