$fixed-header-y: $navbar-height;
$drawer-padding-x: 20px !default;
$drawer-padding-y: 20px !default;
$drawer-offscreen-gutter: 20px !default;
$drawer-semi:76px;

#nav-drawer {
    .custom-menu{
        display: inline-block;
        z-index: 1050;
        position: absolute;
        top: 400px;
        right: 0;
        margin-right: 20px;
        @include transition(.3s);
        background-color: black;
  }
}



#nav-drawer[aria-hidden=true] .list-group-item {
    display: inherit;
}

#nav-drawer::-webkit-scrollbar {
    width: 6px!important;
    height: 6px!important;
}


#nav-drawer::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
}

#nav-drawer::-webkit-scrollbar-track {
    background: hsla(0,0%,100%,.1);
}



#page-wrapper-header >  #page-header.drawer-ease {
    -webkit-transition: margin-left 0.5s ease, margin-right 0.5s ease;
-moz-transition: margin-left 0.5s ease, margin-right 0.5s ease;
transition: margin-left 0.5s ease, margin-right 0.5s ease;
}

body.drawer-open-left.has-drawer {
    @include media-breakpoint-up(md) {
       margin-left: $drawer-width;
       //margin-left: 0;
       #page-wrapper-header > #page-header {
        margin-left: $drawer-width;
       }
    }
}

body.has-drawer {
    margin-left: 70px;
}

body.drawer-open-left.no-has-drawer {
    @include media-breakpoint-up(md) {
       //margin-left: $drawer-width;
       margin-left: 0;
    }
}

.no-has-drawer #header-toggle {
    display: none!important;
}
 
//modicons
#nav-drawer .list-group-item .togglecompletion {
    display: inline;
    div {
        display: inline;
    }
}

//dropdown toggle
#nav-drawer .list-group-item .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#nav-drawer .list-group-item-action.section.active {
    z-index: 2;
    color: $navdrawer-color;
    background-color:$navdrawer-activel1;
    border-color: $navdrawer-activel1;
}

#nav-drawer .list-group-item-action {
    z-index: 2;
    color:$navdrawer-color;
    background-color: $navdrawer-bg;
    border-color: $navdrawer-bg;
    width: 100%;
    cursor: pointer;
}



#nav-drawer  .list-group-item-action:hover{
    background-color: $navdrawer-hover-bg;
    color: $navdrawer-hover;
    a {
    color: $navdrawer-hover;
    }

}

#nav-drawer .list-group-item-action.active {
    z-index: 2;
    color: $navdrawer-color;
    background-color: $navdrawer-activel2;
    border-color: $navdrawer-activel2;
    a {
        color:black;
    }
}

.dimmed.active {
    background-color: #d3d5d4;
    border-color: #d3d5d4;
}


.list-group-item.dimmed  {
    color: $navdrawerdimmed;
    background-color: $navdrawerdimmed-bg;
}

#nav-drawer {
    background-color: $navdrawer-bg;
}

#sidepre-blocks {
    width: $drawer-width;
}

body.drawer-open-right.path-grade-report-grader {
    @include media-breakpoint-up(md) {
       //margin-left: $drawer-width;
       margin-right: 0;
    }
}

@include media-breakpoint-down(sm){ 
    body {
        margin-left: 0px;
    }
    [data-region="drawer"] {
        top: $sm-navbar-height;
        height: calc(100% - #{$sm-navbar-height});
    }
}

[data-region="drawer"] {
    padding: 0px;
}

 //fix outline in navdrawer

#nav-drawer:focus, [data-region="blocks-column"]:focus, [data-region="view-overview"]:focus #block-region-side-pre:focus{
    outline: none;
    aside:focus{
        outline: none;
    }
}

#block-region-side-pre, [data-region="view-overview"]>div {
    outline: none;
}



//breno inserção
/*
#nav-drawer {
    background-color: #E9E9E9;
}
#nav-drawer {
    right: 0;
    left: 0;
}

[data-region="drawer"] {
    padding: 0;
}

[data-region="drawer"], [data-region="blocks-column"] {
    padding: 20px 20px;
}
[data-region="drawer"] {
    position: fixed;
    width: 315px;
    top: 140px;
    height: calc(100% - 140px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 999;
    background-color: #f2f2f2;
    -webkit-transition: right 0.5s ease,left 0.5s ease;
    -moz-transition: right 0.5s ease,left 0.5s ease;
    transition: right 0.5s ease,left 0.5s ease;
}
*/


// Nav-drawer control




[data-region="drawer"] {
    -webkit-transition: right .5s ease, left .5s ease;
    -moz-transition: right .5s ease, left .5s ease;
    -o-transition: right .5s ease, left .5s ease;
    transition: right .5s ease, left .5s ease;

    .dropdown-menu {
        min-width: 245px;

        .dropdown-item {
            white-space: initial;
        }
    }

    .card-block .content {
        h3 {
            font-size: 1.143rem;
            font-weight: 600;
            text-transform: uppercase;
            border-top: 1px dashed $headings-color;
            padding-top: 4px;
            margin-top: 10px;
        }
    }
}





body.drawer-open-left {
    #navdraweropen-control {
        left: 305px;
    }
   



}

@include media-breakpoint-down(md){
    body.drawer-open-left.has-drawer {
        #sidepreopen-control {
            display: none;
        }
    }

    body.drawer-open-right {
        #navdraweropen-control {
            display: none;
        }
    }

}

.no-has-drawer {
    #navdraweropen-control {
        display: none
    }

}

#navdraweropen-control {
    background-color: transparent;
    color: #fff;
    border: 0;
    font-size: 18px;
    
}
#navdraweropen-control:hover{
    border-radius: 50%;
    background-color: rgba($black,.3);
    //background-color: lighten($primary, 50%)
}


#navdraweropen-control:focus-visible {
    outline: none;
}
//sm
@include media-breakpoint-only(sm){
    #nav-drawer.closed {
        width: 0px;
        left: 0;
    }    

}



//md+
#nav-drawer.closed:hover {
    width: $drawer-width;
    .text {
        display: inherit;
    }
    .togglecompletion {
        display: inherit!important;
    }
    overflow-y: auto;
    //-webkit-overflow-scrolling: touch;

}

#nav-drawer.closed {
    width: 70px;
    left: 0;
    overflow: visible;

    .text {
        display: none;
    }
    .togglecompletion {
        display: none!important;
    }
}




@include media-breakpoint-up(md){
    #navlinks{
        display: none;
    }
 }

 @include media-breakpoint-down(md){
    #nav-drawer.closed {
        width: 0px;
        left: -($drawer-width + $drawer-offscreen-gutter);
    }  
    #navlinks{
        display: inherit;
    }  

}



//md+
