$fixed-header-y: $navbar-height;

$drawer-width: 315px;
$drawer-padding-x: 20px !default;
$drawer-padding-y: 20px !default;
$drawer-offscreen-gutter: 20px !default;

#nav-drawer {




    .custom-menu{
        display: inline-block;
        z-index: 1050;
        position: absolute;
        top: 400px;
        right: 0;
        margin-right: 20px;
        @include transition(.3s);
        background-color: black;
        
  }
}


#page-wrapper-header >  #page-header.drawer-ease {
    -webkit-transition: margin-left 0.5s ease, margin-right 0.5s ease;
-moz-transition: margin-left 0.5s ease, margin-right 0.5s ease;
transition: margin-left 0.5s ease, margin-right 0.5s ease;
   }

body.drawer-open-left.has-drawer {
    @include media-breakpoint-up(md) {
       margin-left: $drawer-width;
       //margin-left: 0;
       #page-wrapper-header > #page-header {
        margin-left: $drawer-width;
  
       }

    }
}

body.drawer-open-left.no-has-drawer {
    @include media-breakpoint-up(md) {
       //margin-left: $drawer-width;
       margin-left: 0;

    }
}

.no-has-drawer #header-toggle {
    display: none!important;
}