
.sidebar a,
.sidebar a:hover,
.sidebar a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


.sidebar {
    position: fixed;
    top: 180px;
    border: 1px solid #000;
    z-index: 1050;
    width: 300px;
    height: 100%;
    background: #e9e9e9;
    color: #383838;
    transition: all 0.3s;
    
}
aside {
    border: 1px solid #383838;
    height: 100px;
}
.sidenav {
    height: calc(100% - 180px );
    overflow-y: scroll;
    padding-bottom: 15px;
}


.sidebar.active {
    margin-left: -300px;
}
.toggle_bar.active {
    margin-left: -300px;
}

.sidebar .sidebar-header {
    padding: 20px;
    background:var(--main-bg-color);
}

.sidebar ul.components {
    padding: 20px 0;
    border-bottom: 0px solid grey;
}

.sidebar ul p {
    color: var(--main-txt-color);
    padding: 10px;
}

.sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    border: 1px solid grey;
    
}

.sidebar ul li a:hover {
    color: var(--main-txt-color);
    background: #fff;
}

.sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: var(--main-txt-color);
    background: var(--main-bg-color);
}

.sidebar a[data-toggle="collapse"] {
    position: relative;
}

.sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: var(--main-bg-color);
}

.sidebarul.CTAs {
    padding: 20px;
}

.sidebar ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    .btn-sidebar-course {
        background: transparent;
    }
}



.btn-sidebar-course{
    position: fixed;
    top: 45%;
    left: 300px;
    height: 45px;
    width: 300px;
    text-align: center;
    display: flex;
  justify-content: center;
  align-items: center;
    background: transparent;

    border-radius: 3px;
    cursor: pointer;
    transition: left 0.3s ease;
  }
  .btn-sidebar-course.click{
    left: 0;
  }
  .btn-sidebar-course span{
    color: black;
    font-size: 28px;
    line-height: 45px;
  }
  .btn-sidebar-course.click span:before{
    content: '\f105';
  }

