
$navbar-header-color: #fff !default;


$body-bg: #eef5f9 !default;



$navbar-height: 190px !default;
$navbar-bg: #272c33 !default;
$navbar-bg-hover: #26c6da !default;
$navbar-separator: #374850 !default;