// stylelint-disable value-keyword-case
$font-family-sans-serif:      Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;


$navbar-header-color: #fff !default;


$body-bg: #fff !default;
//$body-color:                $gray-900 !default;


//navbar
$navbar-height: 140px !default;
$sm-navbar-height: 55px !default;


$navbar-bg: #272c33 !default;
$navbar-bg-hover: #26c6da !default;
$navbar-separator: #374850 !default;

$cardcourse-bg: #e9e9e9 !default;

$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;

$headings-font-weight:        700;
$font-weight-base:            400;
$topnavbar-bg: #690000 !default;

//DRawer
$drawer-width: 315px;
$drawer-bg: darken($body-bg, 5%) !default;
$navdrawer-bg: #E9E9E9 !default;
$navdrawer-color: #000!default;
$navdrawer-hover-bg: #690000!default;
$navdrawer-hover: #FFF!default;
$navdrawer-activel1: #BEBFC1!default;
$navdrawer-activel2: #D4D6D5!default;
$navdrawerdimmed: #6c757d !default;
$navdrawerdimmed-bg: #FFFFFF!default;
 



//link
$link-color: #000 !default;
$link-hover-color: #000!default;

$primary: #690000 !default;


//settings variables
$breadcrum-text-color: #000!default;
$breadcrumb-bg: #000!default;
$footer-text-color: #FFF!default;
$footer-link-color: #FFF!default;
$footer-bg: #690000!default;
$forumheading-bg: #fff!default;
$forumbody-bg: #fff!default;
$introbox-bg: #FFF!default;

$input-btn-focus-box-shadow: none;
 
//buttons
$btna-border-radius: 5px;
$btn-prm-bg: #690000!default; 
$btn-prm-hover-color:#690000!default; 
$btn-prm-color: #FFF!default;
$btn-snd-bg: #ced4da !default;
$btn-snd-hover-color: #ced4da!default;
$btn-snd-color:  #212529!default;
