<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{{bannertitle}}}</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
				{{{bannertextbox}}}
            </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



{{#js}}

require(['jquery', 'theme_boost/bootstrap/modal'], function($, modal) {
            $('#myModal').modal('show');
        })

{{/js}}