{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page navbar.
}}

  <header id="page-wrapper-header" class="fixed-top ">
    <div id="page-header">
        <div class="clearfix conteiner-fluid  ">

            <!--above navbar-->
           <nav class="navbar navbar-dark bg-ufma text-white navbar-expand moodle-has-zindex" aria-label="{{#str}}sitemenubar, admin{{/str}}">
                 <button class="bg-ufma text-white border-0 d-inline d-sm-none" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>



                 <a href="{{{ config.wwwroot }}}" class="navbar-brand aabtn {{# output.has_compact_logo }}has-logo{{/ output.has_compact_logo }}
                    {{^ output.has_compact_logo }}
                        d-none d-sm-inline
                    {{/ output.has_compact_logo }}
                        ">
                    {{# output.has_compact_logo }}
                        <span id="ufma-logo" class=" d-none d-sm-inline">
                            <img src="{{output.get_compact_logo_url}}" alt="{{sitename}}">
                        </span>
                    {{/ output.has_compact_logo }}
                </a>

               

                 <div id="sitetitle" class="text-white mx-auto d-none d-sm-inline">
                    <h1>{{{ sitename }}}</h1>
                   
                </div>
                

                <ul class="navbar-nav d-none d-md-flex">
                    <!-- custom_menu -->
                    <!-- page_heading_menu -->
                    {{{ output.page_heading_menu }}}
                </ul>
                
                <ul class=" nav navbar-nav ml-auto">
                    <li class="d-none d-lg-block">
                        {{{ output.search_box }}}
                    </li>
                    <!-- navbar_plugin_output -->
                    <li class="nav-item">
                        {{{ output.navbar_plugin_output }}}
                    </li>
                    <!-- user_menu -->
                    <li class="nav-item d-flex align-items-center">
                        {{{ output.user_menu }}}
                    </li>
                </ul>
                    <!-- search_box -->
            </nav>

            


        </div>

    </div>
    
    <div class="navwrap container-fluid">
        <div class="row ">
            <nav id="navwrapper" class=" col navbar navbar-expand-lg navbar-light bg-light text-dark"   style="position: relative;">

                        <button class="navbar-toggler navbar-toggler-right d-none d-md-inline d-sm-inline d-lg-none" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse " id="navbarNav" style="background:white">

                            <div class="nav navbar-nav" id="mainNav">
                            
                                {{{ output.topmenu }}}
                            </div>

                        </div>
                    </nav>
        </div>

    </div>
   
</header>




