{{!
    @template theme_boost/nav-drawer


    Example context (json): {}


}}  
<div data-region="drawer-toggle" class="d-inline-block mr-3 btn-sidebar {{#drawer-open-left }}open{{/drawer-open-left }}" id="btn-sidebar">

    <button 
    aria-expanded="{{#navdraweropen}}true{{/navdraweropen}}{{^navdraweropen}}false{{/navdraweropen}}" 
    aria-controls="nav-drawer" 
    type="button" 
    class="btn nav-link float-sm-left mr-1 btn-light bg-gray" 
    data-action="toggle-drawer" 
    data-side="left" 
    data-preference="drawer-open-nav">{{#pix}}i/menubars{{/pix}}<span class="sr-only">{{#str}}sidepanel, core{{/str}}</span></button>
   {{#navdraweropen}}open{{/navdraweropen}}
</div>


<div id="nav-drawer" data-region="drawer" class="d-print-none moodle-has-zindex {{^navdraweropen}}closed{{/navdraweropen}}" aria-hidden="{{#navdraweropen}}false{{/navdraweropen}}{{^navdraweropen}}true{{/navdraweropen}}" tabindex="-1">
    {{> theme_boost/flat_navigation }}
</div>
