
<nav class="list-group" aria-label="">
    <ul>
        <li><a>UFMA</a></li>
    </ul>
</nav>

<nav class="list-group mt-1" aria-label="">
    
    <ul id="accordion">
        {{#courselinks}}
        <li>
                {{#action}}   
            <a class="list-group-item list-group-item-action "    href="{{{action}}}"      aria-expanded="false"  data-key="" data-isexpandable="" data-indent="" data-showdivider="" data-type="" data-nodetype="" data-collapse="" data-forceopen="" data-isactive="" data-hidden="" data-preceedwithhr="" >
                <div class="ml-">
                    <div class="media">
                        {{#icon}}
                            <span class="media-left">
                                <i class="{{{icon}}}"></i>
                            </span>
                        {{/icon}}    
                        
                        <span class="media-body ">{{{text}}}  </span>
                        
                    </div>
                </div>
            </a> 
            {{/action}}   
        </li>
        {{/courselinks}}
        
        
        {{#topics}}

           

                <li>

            <div class="list-group-item 
            
            {{#dimmed}}dimmed dimmed_text{{/dimmed}}  {{^dimmed}}list-group-item-action{{/dimmed}}              

            {{#issectionactive}}active {{/issectionactive}}  section"   data-target="#topic{{{section}}}"
             data-toggle="collapse" aria-expanded="false"  data-key="{{{key}}}" data-isexpandable="" data-indent="" data-showdivider="" data-type="" data-nodetype="" 
             data-collapse="" data-forceopen="" data-isactive="" data-hidden="" data-preceedwithhr="" >
                <div class="ml-1">
                        
                        <div class="media dropdown-toggle" data-toggle="tooltip" data-placement="right" title="{{{tooltip}}}">
                        
                        <span><i class="{{{icon}}}" aria-hidden="true"></i><span>
                        <a {{{action}}}>{{{text}}} </a>

                        
                        {{#dimmed}}<i class="fa fa-lock" aria-hidden="true"></i> {{/dimmed}} 
                        

                        
                    </div>
                </div>
            </div>





            
            <ul  class="collapse list-unstyled {{#issectionactive}}show {{/issectionactive}}" id="topic{{{section}}}" data-parent="#accordion">
            
            {{#activities}}
            {{^hiddentouser}}
            
            <li>
            {{#action}}
            <a class=" list-group-item 
            {{#dimmed}}dimmed dimmed_text{{/dimmed}}  {{^dimmed}}list-group-item-action{{/dimmed}}
             {{#isactive}}active{{/isactive}}  " 
            {{^noaction}}href="{{{action}}}" {{/noaction}} data-key="" data-isexpandable="" data-indent="" data-showdivider="" 
            data-type="" data-nodetype="" data-collapse="" data-forceopen="" data-isactive="" data-hidden="" 
            data-preceedwithhr="" >
                <div class="ml-2">
                    <div class="media" data-toggle="tooltip" data-placement="right" title="{{{tooltip}}}">
                        {{{icon}}}
                        <span class="media-body "> {{{text}}}   </span>
                        {{{modicon}}}
                        
                    </div>
                </div>
            </a>

            {{/action}}

            
            </li>
                
            {{/hiddentouser}}
            {{/activities}}

              
            </ul>
            
        </li>
        {{/topics}}



        {{#contentbank}}
            {{#hascontentbank}}
            <li>
                 <a class="list-group-item list-group-item-action " href="{{{action}}}" data-key="" data-isexpandable="" data-indent="" data-showdivider="" data-type="" data-nodetype="" data-collapse="" data-forceopen="" data-isactive="" data-hidden="" data-preceedwithhr="" >
                <div class="ml-">
                    <div class="media">
                        <span><i class="{{{icon}}}" aria-hidden="true"></i><span>
                        <span class="media-body "> {{{text}}}  </span>
                        
                    </div>
                </div>
            </a>
            
            </li>
            {{/hascontentbank}}

        {{/contentbank}}

    </ul>
</nav>
