
<nav class="list-group" aria-label="">
    <ul>
        <li><a>UFMA</a></li>
    </ul>
</nav>


<nav class="list-group mt-1" aria-label="">
    
    <ul id="accordion">
        {{#courselinks}}
        <li>
                {{#action}}   
            <a class="list-group-item list-group-item-action "    href="{{{action}}}"      aria-expanded="false"  data-key="" data-isexpandable="" data-indent="" data-showdivider="" data-type="" data-nodetype="" data-collapse="" data-forceopen="" data-isactive="" data-hidden="" data-preceedwithhr="" >
                <div class="ml-">
                    <div class="media">
                        {{#icon}}
                            <span class="media-left">
                                <i class="{{{icon}}}"></i>
                            </span>
                        {{/icon}}    
                        
                        <span class="media-body ">{{{text}}}  </span>
                        
                    </div>
                </div>
            </a> 
            {{/action}}   
        </li>
        {{/courselinks}}
        
        
        {{#topics}}

           
                {{#hasactivites}}

                <li>

            <a class="list-group-item list-group-item-action "    href="#{{{action}}}" data-toggle="collapse" aria-expanded="false"  data-key="{{{key}}}" data-isexpandable="" data-indent="" data-showdivider="" data-type="" data-nodetype="" data-collapse="" data-forceopen="" data-isactive="" data-hidden="" data-preceedwithhr="" >
                <div class="ml-">
                    <div class="media dropdown-toggle">
                        <span><i class="{{{icon}}}" aria-hidden="true"></i><span>
                        <span class="media-body "> {{{text}}}  </span>
                        
                    </div>
                </div>
            </a>
            
            <ul  class="collapse list-unstyled" id="{{{action}}}" data-parent="#accordion">
            
            {{#activities}}
            {{^hidden}}
            <li>

            {{#action}}
            <a class="list-group-item list-group-item-action " href="{{{action}}}" data-key="" data-isexpandable="" data-indent="" data-showdivider="" data-type="" data-nodetype="" data-collapse="" data-forceopen="" data-isactive="" data-hidden="" data-preceedwithhr="" >
                <div class="ml-">
                    <div class="media">
                        <span><i class="{{{icon}}}" aria-hidden="true"></i><span>
                        <span class="media-body "> {{{text}}} {{{completion_state}}}  </span>
                        
                    </div>
                </div>
            </a>
            {{/action}}
            </li>
                
            {{/hidden}}
            {{/activities}}

              
            </ul>
            
        </li>
        {{/hasactivites}}
        {{/topics}}



        {{#contentbank}}
            {{#hascontentbank}}
            <li>
                 <a class="list-group-item list-group-item-action " href="{{{action}}}" data-key="" data-isexpandable="" data-indent="" data-showdivider="" data-type="" data-nodetype="" data-collapse="" data-forceopen="" data-isactive="" data-hidden="" data-preceedwithhr="" >
                <div class="ml-">
                    <div class="media">
                        <span><i class="{{{icon}}}" aria-hidden="true"></i><span>
                        <span class="media-body "> {{{text}}}  </span>
                        
                    </div>
                </div>
            </a>
            
            </li>
            {{/hascontentbank}}

        {{/contentbank}}

    </ul>
</nav>
