<header id="page-header" class="row drawer-ease">
    <div class="col-12  pt-3">
        <div class="card ">
          
            {{{ output.full_header }}}
            {{#hasheaderblockregion}}
                <section data-region="blocks-content" class="d-print-none header-blocks" aria-label="{{#str}}blocks{{/str}}">
                    {{{ headerblocks }}}
                </section>
            {{/hasheaderblockregion}}

        </div>

    </div>
    
</header>


{{#hasdrawer}}
<i id="navdraweropen-control"
    aria-expanded="{{#navdraweropen}}true{{/navdraweropen}}{{^navdraweropen}}false{{/navdraweropen}}" 
    aria-controls="nav-drawer" 
    data-action="toggle-drawer"
    data-side="left"
    data-preference="drawer-open-nav"
    class="fa fa-bars" 
    aria-hidden="true">

</i>
{{/hasdrawer}}