<header id="page-header" class="row drawer-ease">
    <div class="col-12  pb-3">
        <div class="card ">
            <div id="header-toggle" data-region="drawer-toggle" class="d-inline-block mr-3 {{#drawer-open-left }}open{{/drawer-open-left }}">

                <button aria-expanded="{{#navdraweropen}}true{{/navdraweropen}}{{^navdraweropen}}false{{/navdraweropen}}" aria-controls="nav-drawer" type="button" class="bg-transparent border-0 btn btn-lg" data-action="toggle-drawer" data-side="left" data-preference="drawer-open-nav"> 
                
                    <i class="fa fa-bars " aria-hidden="true"></i>
                    <span class="sr-only">{{#str}}sidepanel, core{{/str}}</span>
                </button>
            </div>
            {{{ output.full_header }}}
            {{#hasheaderblockregion}}
                <section data-region="blocks-content" class="d-print-none header-blocks" aria-label="{{#str}}blocks{{/str}}">
                    {{{ headerblocks }}}
                </section>
                {{/hasheaderblockregion}}

        </div>

    </div>
    
</header>
