{{#hasblocks}}
        <i id="sidepreopen-control"
            aria-expanded="{{#draweropenright}}true{{/draweropenright}}{{^draweropenright}}false{{/draweropenright}}"
            aria-controls="sidepre-blocks"
            data-action="toggle-drawer"
            data-side="right"
            data-preference="sidepre-open"
            aria-label="blocos"
            title="blocos"
            class="fa fa-cubes" aria-hidden="true">

        </i>

        <section id="sidepre-blocks" data-region="blocks-column" class="hidden-print">
            {{{ sidepreblocks }}}
        </section>
{{/hasblocks}}
{{{ output.standard_after_main_region_html }}}
{{> theme_avadinte/footer }}

     
</div>

</body>
</html>
{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader'], function() {
    M.util.js_complete('theme_boost/loader');
});

M.util.js_pending('theme_boost/drawer');
require(['theme_boost/drawer'], function(drawer) {
    drawer.init();
    M.util.js_complete('theme_boost/drawer');
});

require(['theme_avadinte/accessibilitybar'], function(bar) {
    bar.init();
});

require(['theme_avadinte/themesettings'], function(themesettings) {
    themesettings.init();
});


{{/js}}